In [ ]:
# default_exp prefecture

In [ ]:
from nbdev.showdoc import *

In [ ]:
# export
from typing import List

from fastcore.basics import patch
from fastcore.dispatch import typedispatch

## 日本の都道府県

In [ ]:
# exports


import pandas as pd

# 都道府県正式名称
names = [
    "北海道",
    "青森県",
    "岩手県",
    "宮城県",
    "秋田県",
    "山形県",
    "福島県",
    "茨城県",
    "栃木県",
    "群馬県",
    "埼玉県",
    "千葉県",
    "東京都",
    "神奈川県",
    "新潟県",
    "富山県",
    "石川県",
    "福井県",
    "山梨県",
    "長野県",
    "岐阜県",
    "静岡県",
    "愛知県",
    "三重県",
    "滋賀県",
    "京都府",
    "大阪府",
    "兵庫県",
    "奈良県",
    "和歌山県",
    "鳥取県",
    "島根県",
    "岡山県",
    "広島県",
    "山口県",
    "徳島県",
    "香川県",
    "愛媛県",
    "高知県",
    "福岡県",
    "佐賀県",
    "長崎県",
    "熊本県",
    "大分県",
    "宮崎県",
    "鹿児島県",
    "沖縄県",
]

In [ ]:
assert len(names) == 47 # 47 prefectures

In [ ]:
# export
# 都道府県の略名
short_names = [p[:-1] for p in names]
# 都道府県データフレーム. Index に日本都道府県コード（JIS X 0401-1973）を設定
df = pd.DataFrame(
    dict(
        name=names,
        short_name=short_names,
    ),
    index=pd.Index(range(1, 1 + len(names)), name="code"),
)

In [ ]:
df

      name short_name
code
1      北海道         北海
2      青森県         青森
3      岩手県         岩手
4      宮城県         宮城
5      秋田県         秋田
6      山形県         山形
7      福島県         福島
8      茨城県         茨城
9      栃木県         栃木
10     群馬県         群馬
11     埼玉県         埼玉
12     千葉県         千葉
13     東京都         東京
14    神奈川県        神奈川
15     新潟県         新潟
16     富山県         富山
17     石川県         石川
18     福井県         福井
19     山梨県         山梨
20     長野県         長野
21     岐阜県         岐阜
22     静岡県         静岡
23     愛知県         愛知
24     三重県         三重
25     滋賀県         滋賀
26     京都府         京都
27     大阪府         大阪
28     兵庫県         兵庫
29     奈良県         奈良
30    和歌山県        和歌山
31     鳥取県         鳥取
32     島根県         島根
33     岡山県         岡山
34     広島県         広島
35     山口県         山口
36     徳島県         徳島
37     香川県         香川
38     愛媛県         愛媛
39     高知県         高知
40     福岡県         福岡
41     佐賀県         佐賀
42     長崎県         長崎
43     熊本県         熊本
44     大分県         大分
45     宮崎県         宮崎
46    鹿児島県        鹿児島
47     沖縄県         沖縄

In [ ]:
assert len(df.name) == 47

日本全国で47都道府県ある。

In [ ]:
assert set([p[-1] for p in df.name]) == {'府', '県', '道', '都'}

都道府県の正式名称の最後には必ず '府', '県', '道', '都' が付いている。

In [ ]:
df.loc[10, "name"]

'群馬県'

In [ ]:
df[df.name == "東京都"]

     name short_name
code
13    東京都         東京

In [ ]:
df[df.short_name == "大阪"]

     name short_name
code
27    大阪府         大阪

## 都道府県の辞書＜コード→名前＞

In [ ]:
#export
__code2name = {
    code: name
    for name, code in zip(df.name, df.index)
}

In [ ]:
__code2name

{1: '北海道',
 2: '青森県',
 3: '岩手県',
 4: '宮城県',
 5: '秋田県',
 6: '山形県',
 7: '福島県',
 8: '茨城県',
 9: '栃木県',
 10: '群馬県',
 11: '埼玉県',
 12: '千葉県',
 13: '東京都',
 14: '神奈川県',
 15: '新潟県',
 16: '富山県',
 17: '石川県',
 18: '福井県',
 19: '山梨県',
 20: '長野県',
 21: '岐阜県',
 22: '静岡県',
 23: '愛知県',
 24: '三重県',
 25: '滋賀県',
 26: '京都府',
 27: '大阪府',
 28: '兵庫県',
 29: '奈良県',
 30: '和歌山県',
 31: '鳥取県',
 32: '島根県',
 33: '岡山県',
 34: '広島県',
 35: '山口県',
 36: '徳島県',
 37: '香川県',
 38: '愛媛県',
 39: '高知県',
 40: '福岡県',
 41: '佐賀県',
 42: '長崎県',
 43: '熊本県',
 44: '大分県',
 45: '宮崎県',
 46: '鹿児島県',
 47: '沖縄県'}

## 都道府県の辞書＜名前→コード＞

In [ ]:
# exporti
__name2code = {
    **{name: code for name, code in zip(df.name, df.index)},
    **{name: code for name, code in zip(df.short_name, df.index)},
}

In [ ]:
__name2code

{'北海道': 1,
 '青森県': 2,
 '岩手県': 3,
 '宮城県': 4,
 '秋田県': 5,
 '山形県': 6,
 '福島県': 7,
 '茨城県': 8,
 '栃木県': 9,
 '群馬県': 10,
 '埼玉県': 11,
 '千葉県': 12,
 '東京都': 13,
 '神奈川県': 14,
 '新潟県': 15,
 '富山県': 16,
 '石川県': 17,
 '福井県': 18,
 '山梨県': 19,
 '長野県': 20,
 '岐阜県': 21,
 '静岡県': 22,
 '愛知県': 23,
 '三重県': 24,
 '滋賀県': 25,
 '京都府': 26,
 '大阪府': 27,
 '兵庫県': 28,
 '奈良県': 29,
 '和歌山県': 30,
 '鳥取県': 31,
 '島根県': 32,
 '岡山県': 33,
 '広島県': 34,
 '山口県': 35,
 '徳島県': 36,
 '香川県': 37,
 '愛媛県': 38,
 '高知県': 39,
 '福岡県': 40,
 '佐賀県': 41,
 '長崎県': 42,
 '熊本県': 43,
 '大分県': 44,
 '宮崎県': 45,
 '鹿児島県': 46,
 '沖縄県': 47,
 '北海': 1,
 '青森': 2,
 '岩手': 3,
 '宮城': 4,
 '秋田': 5,
 '山形': 6,
 '福島': 7,
 '茨城': 8,
 '栃木': 9,
 '群馬': 10,
 '埼玉': 11,
 '千葉': 12,
 '東京': 13,
 '神奈川': 14,
 '新潟': 15,
 '富山': 16,
 '石川': 17,
 '福井': 18,
 '山梨': 19,
 '長野': 20,
 '岐阜': 21,
 '静岡': 22,
 '愛知': 23,
 '三重': 24,
 '滋賀': 25,
 '京都': 26,
 '大阪': 27,
 '兵庫': 28,
 '奈良': 29,
 '和歌山': 30,
 '鳥取': 31,
 '島根': 32,
 '岡山': 33,
 '広島': 34,
 '山口': 35,
 '徳島': 36,
 '香川': 37,
 '愛媛': 38,
 '高知': 39,
 '福岡': 40,
 '佐賀': 41,
 '長崎': 42,
 '熊本': 43,
 '大分': 44,
 '宮崎': 45,
 '鹿児島': 46,
 '沖縄': 47}

In [ ]:
assert set(df.name).union(set(df.short_name)) == set(__name2code.keys())

## 変換メソッド

In [ ]:
# export

@typedispatch
def name2code(name: str) -> int:
    """ Convert prefecture name to code """
    return __name2code[name]

@typedispatch
def name2code(arr: List) -> List:
    """ Convert a list of prefecture name to codes """
    return [__name2code[e] for e in arr]

@typedispatch
def name2code(s: pd.Series) -> pd.Series:
    """ Convert a pandas series of prefecture name to codes """
    return s.map(__name2code)

In [ ]:
assert name2code("東京都") == 13

In [ ]:
assert (name2code(pd.Series(names)) == pd.Series(range(1, len(names)+1))).all()

In [ ]:
assert name2code(names) == list(range(1, len(names)+1))

In [ ]:
#hide
from nbdev.export import notebook2script
notebook2script()

Converted 10_pref.ipynb.
Converted index.ipynb.

In [ ]:
#hide
from nbdev.export2html import notebook2html
notebook2html()

Conversion failed on the following:
10_pref.ipynb
index.ipynb