# JP Pref.

> Japan prefecture names and codes

日本都道府県の名称とコード（JIS X 0401-1973）を変換するユーティリティ

- 名称 ⇔ コード
- 略名 ⇔ 正式名称

Reference

- [都道府県コード及び市区町村コード(総務省 電子自治体)](http://www.soumu.go.jp/denshijiti/code.html)
- [JIS X 0401 JSON API](https://madefor.github.io/jisx0401/)
- [Lightweight US zipcode database in Python](https://github.com/seanpianka/zipcodes)
- [Powerful US zipcode database in Python](https://github.com/MacHu-GWU/uszipcode-project)

In [ ]:
#hide
from nbdev.showdoc import *

In [ ]:
#hide
%load_ext autoreload
%autoreload 2

## Install

`pip install jp_pref`

## How to use

In [ ]:
from jp_pref.prefecture import df, name2code, code2name

### Dataframe

Dataframe of prefecture names and codes

In [ ]:
df

      name short_name
code
1      北海道         北海
2      青森県         青森
3      岩手県         岩手
4      宮城県         宮城
5      秋田県         秋田
6      山形県         山形
7      福島県         福島
8      茨城県         茨城
9      栃木県         栃木
10     群馬県         群馬
11     埼玉県         埼玉
12     千葉県         千葉
13     東京都         東京
14    神奈川県        神奈川
15     新潟県         新潟
16     富山県         富山
17     石川県         石川
18     福井県         福井
19     山梨県         山梨
20     長野県         長野
21     岐阜県         岐阜
22     静岡県         静岡
23     愛知県         愛知
24     三重県         三重
25     滋賀県         滋賀
26     京都府         京都
27     大阪府         大阪
28     兵庫県         兵庫
29     奈良県         奈良
30    和歌山県        和歌山
31     鳥取県         鳥取
32     島根県         島根
33     岡山県         岡山
34     広島県         広島
35     山口県         山口
36     徳島県         徳島
37     香川県         香川
38     愛媛県         愛媛
39     高知県         高知
40     福岡県         福岡
41     佐賀県         佐賀
42     長崎県         長崎
43     熊本県         熊本
44     大分県         大分
45     宮崎県         宮崎
46    鹿児島県        鹿児島
47     沖縄県         沖縄

### name2code & code2name

都道府県名の文字列、リスト、もしくは pandas series をコードに変換

In [ ]:
name2code("東京都")

13

In [ ]:
name2code("東京")

13

In [ ]:
code2name(13)

'東京都'

In [ ]:
name2code(["東京都", "大阪府", "北海道"])

[13, 27, 1]

In [ ]:
name2code(["東京", "大阪", "北海"])

[13, 27, 1]

In [ ]:
code2name([13, 27, 1])

['東京都', '大阪府', '北海道']

In [ ]:
#hide
from nbdev.export import notebook2script
notebook2script()

Converted 10_pref.ipynb.
Converted index.ipynb.

In [ ]:
#hide
from nbdev.export2html import notebook2html
notebook2html()

No notebooks were modified